[Unit]
Description=Gunicorn instance to serve proxmanager-api
After=network.target

[Service]
WorkingDirectory=/usr/local/lib/proxmanager
ExecStart=/usr/local/lib/proxmanager/.venv/bin/gunicorn --workers 3 --bind unix:proxmanager.sock -m 007 app:app

[Install]
WantedBy=multi-user.target
