[Unit]
Description=Gunicorn instance to serve proxmanager-api
After=network.target

[Service]
WorkingDirectory=/usr/local/lib/proxmanager
ExecStart=/bin/bash /usr/local/lib/proxmanager/start_proxmanager.sh

[Install]
WantedBy=multi-user.target
